.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;    
}

.item-completed:checked + .item-description {
    background: #dddddd;
    text-decoration: line-through;
}

#add {
    padding: 8px 14px;
    font-weight: bold;
    color: #ffffff;
    background: red;
    cursor: pointer;  
    border-radius: 9px;
}




















footer {
    position: fixed;
    bottom: 0;
    background-color: transparent;
    color: rgb(58, 56, 56);
    width: 100%;

}